<div class="footer">
        <div class="block-footer ">
                <div class="container">
                    <div class="row">
                            <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-9 col-xs-5">
                                        <div class="block-footer__logo"><img src="../dest/img/logo-takeda-svg-copy.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
                                        <div class="block-footer__phone">8&nbsp;800&nbsp;700 33&nbsp;11</div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 col-md-offset-2">
                                        <div class="block-footer__takeda"><img src="../dest/img/18_footer.png" alt=""></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                            <div class="firstmed-icon-privat"><img src="../dest/img/firstmed.png" alt=""></div>
                                        </div>
                                    
                                    <div class="col-xs-11">
                                        <div class="block-footer__des">
                                            ©&nbsp;  Кардиология 2018. ВСЕ ПРАВА ЗАЩИЩЕНЫ. <br><br>
                                            Владельцем сайта является ООО «Такеда Фармасьютикалс». Адрес: 119048 Москва, ул. Усачёва, д. 2, стр. 1, бизнес-центр «Фьюжн Парк». Заявление о нарушении авторских и смежных прав может быть отправлено по адресу info@myvrachi.ru, а также в форме Обратной связи.
                                        </div>
                                    </div>
                                </div>
                    </div>
                </div>
                </div>
            </div>