<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../dest/img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../dest/img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../dest/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../dest/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../dest/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../dest/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../dest/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../dest/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../dest/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../dest/img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="../dest/styles/main.min.css">
    <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto');
            </style>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                    <div class="col-sm-7 col-xs-6 padding_private_logo">
                            <div class="block-top-private__logo">
                                <img src="../dest//img/firstmed.png" class="" alt="">
                            </div>
                        </div>
                        <div class="col-sm-5 col-xs-6 padding_private_logo">
                                <div class="block-top-private__logo">
                                    <img src="../dest/img/logo-my-vrachi@2x.png" class="" alt="">
                                </div>
                            </div>

            </div>
        </div>
        
        <div class="header-banner">
            <img src="../dest/img/kv-brtmr-vrfrn-1200-x-600@2x.jpg">
        </div>

        <div class="container">
            <div class="row">
                <div class="main-content-border_box">
                    
                </div>

            </div>
        </div>


<div class="wrapper">
    <div class="block-footer ">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                <p class="invite-footer_text">Услуга предоставляется бесплатно всем сотрудникам здравоохранения Российской Федерации, подтвердившим свое участие в программе.</p>
                <p class="invite-footer_textbot">Это письмо не является постоянной рассылкой и было отправлено потому, что вы выразили интерес к тематике во время беседы с нашим специалистом по телефону. Если вы не желаете больше получать предложения и/или информационные материалы, свяжитесь с нами по телефону 8 (800) 700–33–11 или <a class="link-non-color" href="mailto:info@myvrachi.ru">отпишитесь</a>.</p>
                </div>
                </div>
        </div>
    </div>
</div>
//= blocks/footer.html

</div>
    <script src="../dest/js/main.min.js"></script>
</body>

</html>