<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project</title>
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="../dest/img/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../dest/img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../dest/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../dest/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../dest/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../dest/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../dest/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../dest/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../dest/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../dest/img/favicons/apple-touch-icon-180x180.png">
    <link rel="stylesheet" href="../dest/styles/main.min.css">
    <style>
            @import url('https://fonts.googleapis.com/css?family=Roboto');
            </style>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">

                <div class="col-sm-7 col-xs-7 padding_private_logo">
                    <div class="block-top-private__logo">
                        <img src="../dest/img/logo-my-vrachi@2x.png" class="block-top-private__logo" alt="">
                    </div>
                </div>
                <div class="col-xs-7 col-xs-offset-1 private-top-right_img">
                    <img src="../dest/img/privategroup.png" alt="">
                </div>
            </div>
        </div>
        <div class="private-text-wrapper">
            <h1 class="main-private_h1">Политика<br> конфиденциальности </h1>
            <div class="block-text-private">
                <h5 class="private-text_span">1. Преамбула </h5>
                <p class="private-text_p">
                    1.1. Публикацией настоящего Соглашения Общество с ограниченной ответственностью «Такеда
                    Фармасьютикалс» (далее —«Администрация») в соответствии со ст. 438 Гражданского кодекса Российской
                    Федерации предлагает любому пользователю сети Интернет (далее — «Пользователь») использовать
                    функциональные возможности, инструменты и службы Сайта.
                </p>
                <p class="private-text_p">1.2. Данное Соглашение вступает в силу с момента выражения Пользователем
                    согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения, и устанавливает основные
                    правила и принципы работы Сайта.
                </p>
                <p class="private-text_p">1.3. Это Соглашение может быть изменено Администрацией без какого-либо
                    специального уведомления, новая редакция Соглашения вступает в силу с момента её размещения в сети
                    Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией
                    Соглашения. Действующая редакция Соглашения опубликована на странице по адресу:
                    http://myvrachi.ru/polzovatelskoe-soglashenie. В случае внесения каких-либо изменений в Соглашение,
                    с которыми Пользователь не согласен, он обязан прекратить использование Сайта.
                </p>
                <p class="private-text_p">1. Преамбула
                    1.1. Публикацией настоящего Соглашения Общество с ограниченной ответственностью «Такеда
                    Фармасьютикалс» (далее —«Администрация») в соответствии со ст. 438 Гражданского кодекса Российской
                    Федерации предлагает любому пользователю сети Интернет (далее — «Пользователь») использовать
                    функциональные возможности, инструменты и службы Сайта.
                    1.2. Данное Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в
                    порядке, предусмотренном п. 1.4 Соглашения, и устанавливает основные правила и принципы работы
                    Сайта.
                    1.3. Это Соглашение может быть изменено Администрацией без какого-либо специального уведомления,
                    новая редакция Соглашения вступает в силу с момента её размещения в сети Интернет по указанному в
                    настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая
                    редакция Соглашения опубликована на странице по адресу:
                    http://myvrachi.ru/polzovatelskoe-soglashenie. В случае внесения каких-либо изменений в Соглашение,
                    с которыми Пользователь не согласен, он обязан прекратить использование Сайта.
                    1.4. Приступая к использованию Сайта /его отдельной функции, либо пройдя процедуру регистрации в
                    качестве Пользователя Сайта, Пользователь тем самым полностью, без каких-либо оговорок и
                    исключений, всецело принимает условия этого Соглашения. В случае несогласия Пользователя с
                    какими-либо из положений Соглашения Пользователь не в праве использовать Сайт.</p>


                <h5 class="private-text_span">2. Регистрация Пользователя и использование Сайта
                </h5>
                <p class="private-text_p">2.1. По завершении процедуры регистрации создается уникальная учетная запись
                    Пользователя Сайта, которая необходима для использования большинства функциональных возможностей,
                    инструментов и служб Сайта. </p>

                <p class="private-text_p">2.2. Для регистрации Пользователь обязуется предоставить достоверную и полную
                    информацию о себе по вопросам, предлагаемым в форме регистрации, и поддерживать эту информацию в
                    актуальном состоянии. Если Пользователь предоставляет неверную информацию или у Администрации есть
                    основания полагать, что предоставленная Пользователем информация неполна или недостоверна,
                    Администрация имеет право по своему усмотрению заблокировать либо удалить учетную запись
                    Пользователя и отказать Пользователю в использовании Сайта (либо его отдельных функций). </p>
                <p class="private-text_p">2.3. Администрация оставляет за собой право в любой момент потребовать от
                    Пользователя подтверждения данных, указанных при регистрации, и запросить в связи с этим
                    подтверждающие документы (в частности, документы, удостоверяющие личность), непредставление
                    которых, по усмотрению Администрации, может быть приравнено к предоставлению недостоверной
                    информации и повлечь последствия, предусмотренные п. 2.2. Соглашения. В случае, если данные
                    Пользователя, указанные в предоставленных им документах, не соответствуют данным, указанным при
                    регистрации, а также в случае, когда данные, указанные при регистрации, не позволяют
                    идентифицировать пользователя, Администрация вправе отказать Пользователю в доступе к учетной
                    записи и использованию Сайта. </p>
                <d class="private-text_p"> 2.4. Информация о Пользователе, содержащаяся в учетной записи Пользователя,
                    хранится и обрабатывается Администрацией в соответствии с разделом 3 Соглашения.
                    <p class="private-text_p"> 2.5. При регистрации Пользователь использует адрес электронной почты как
                        логин (уникальное символьное имя учетной записи Пользователя) и самостоятельно выбирает пароль
                        для доступа к учетной записи. В то же время Администрация вправе запретить использование
                        определенных логинов, а также устанавливать требования к логину и паролю (длина, допустимые
                        символы и т. д.).
                    </p>

                    <p class="private-text_p">2.6. Пользователь самостоятельно несет ответственность за все действия (а
                        также их последствия) в рамках или с использованием Сайта под учетной записью Пользователя,
                        включая случаи добровольной передачи Пользователем данных для доступа к учетной записи
                        Пользователя третьим лицам</p>
                    <p class="private-text_p">2.7. Пользователь самостоятельно несет ответственность за безопасность
                        (устойчивость к угадыванию) выбранного им пароля, а также самостоятельно обеспечивает его
                        конфиденциальность. </p>
                    <p class="private-text_p">2.8. Администрация вправе заблокировать или удалить учетную запись
                        Пользователя, а также запретить доступ с использованием какой-либо учетной записи к
                        определенным функциональным возможностям Сайта и удалить любое содержание Сайта без объяснения
                        причин, в том числе в случае нарушения Пользователем условий Соглашения.
                    </p>
                    <p class="private-text_p">2.9. Администрация вправе устанавливать ограничения в использовании Сайта
                        для всех Пользователей, либо для отдельных категорий Пользователей (в зависимости от места
                        пребывания Пользователя, языка, на котором предоставляется сервис, и т. д.), в том числе:
                        наличие/отсутствие отдельных функций, максимальный срок хранения информации и данных,
                        специальные параметры загружаемой информации и т. д.).
                    </p>

                    <p class="private-text_p">2.10. Пользователь самостоятельно несет ответственность за соответствие
                        содержания размещаемой им информации требованиям действующего законодательства, включая
                        ответственность перед третьим лицами в случаях, когда размещение Пользователем той или иной
                        информации или ее содержание нарушает права и законные интересы третьих лиц, в том числе личные
                        неимущественные права авторов, иные интеллектуальные права третьих лиц, и/или посягает на
                        принадлежащие им нематериальные блага.
                    </p>
                    <p class="private-text_p">2.11. Пользователь соглашается с тем, что Администрация не обязана
                        осуществлять предварительную проверку информации любого вида, размещаемую и/или
                        распространяемую Пользователем посредством Сайта, а также Администрация имеет право (но не
                        обязанность) по своему усмотрению отказать Пользователю в размещении и/или распространении им
                        данных и информации или удалить любые данные и информацию, которые доступны посредством Сайта.
                        Пользователь осознает и согласен с тем, что он должен самостоятельно оценивать все риски,
                        связанные с размещением, распространением таких информации и данных, включая оценку надежности,
                        полноты или полезности таковых.
                    </p>
                    <p class="private-text_p">2.12. Пользователь осознает и соглашается с тем, что технология работы
                        Сайта может потребовать копирование (воспроизведение) информации и данных Пользователя
                        Администрацией, а также их переработки Администрацией для соответствия техническим требованиям
                        Сайта.
                        2.14. При использовании Сайта Пользователь не вправе: </p>
                    <div class="block-text-private-summenu">
                        <p class="private-text_p">2.14.1. загружать, посылать, передавать или любым другим способом
                            размещать и/или распространять информацию, которая является незаконной, вредоносной,
                            клеветнической, оскорбляет нравственность, демонстрирует (или является пропагандой) насилие
                            и жестокость, нарушает права интеллектуальной собственности, пропагандирует ненависть и/или
                            дискриминацию людей по расовому, этническому, половому, религиозному, социальному
                            признакам, содержит оскорбления в адрес каких-либо лиц или организаций, содержит элементы
                            (или является пропагандой) порнографии, детской эротики, представляет собой рекламу (или
                            является пропагандой) услуг сексуального характера (в том числе под видом иных услуг),
                            разъясняет порядок изготовления, применения или иного использования наркотических веществ
                            или их аналогов, взрывчатых веществ или иного оружия;
                        </p>
                        <p class="private-text_p">2.14.2. нарушать права третьих лиц, в том числе несовершеннолетних
                            лиц, и/или причинять им вред в любой форме;
                        </p>
                        <p class="private-text_p"> 2.14.3. выдавать себя за другого человека или представителя
                            организации и/или сообщества без достаточных на то прав, в том числе за сотрудников
                            Администрации, а также применять любые другие формы и способы незаконного представительства
                            других лиц в сети Интернет, а также вводить пользователей или Администрацию в заблуждение
                            относительно свойств и характеристик каких-либо субъектов или объектов;
                        </p>
                        <p class="private-text_p">2.14.4. загружать, посылать, передавать или любым другим способом
                            размещать и/или распространять информацию при отсутствии прав на такие действия согласно
                            законодательству или каким-либо договорным отношениям;
                        </p>
                        <p class="private-text_p">2.14.5. загружать, посылать, передавать или любым другим способом
                            размещать и/или распространять не разрешенную специальным образом рекламную информацию,
                            спам (в том числе и поисковый), списки чужих адресов электронной почты, схемы «пирамид»,
                            многоуровневого (сетевого) маркетинга (MLM), системы интернет-заработка и e-mail-бизнесов,
                            «письма счастья», а также использовать Сайт для участия в этих мероприятиях; </p>
                        <p class="private-text_p">2.14.6. несанкционированно собирать и хранить персональные данные
                            других лиц; </p>
                        <p class="private-text_p">2.14.7. нарушать нормальную работу Сайта;
                        </p>
                        <p class="private-text_p">2.14.8. размещать ссылки на ресурсы сети Интернет, содержание которых
                            противоречит действующему законодательству Российской Федерации;</p>
                        <p class="private-text_p">2.14.9. содействовать действиям, направленным на нарушение
                            ограничений и запретов, налагаемых Соглашением;
                        </p>
                        <p class="private-text_p">2.14.10. другим образом нарушать нормы законодательства, в том числе
                            нормы международного права. </p>
                    </div>
                    <h5 class="private-text_span">3. Конфиденциальность
                    </h5>
                    <p class="private-text_p">3.1. В соответствии с требованиями Федерального закона № 152-ФЗ от
                        27.07.06 г. «О персональных данных», Пользователь дает свое согласие Обществу с ограниченной
                        ответственностью «Такеда Фармасьютикалс», расположенному по адресу: Российская Федерация,
                        119048, г. Москва, ул. Усачева, д. 2, стр. 1 (далее — «Компания Такеда»), на
                        автоматизированную, а также без использования средств автоматизации обработку своих
                        персональных данных, а именно совершение действий, предусмотренных пунктом 3 статьи 3
                        Федерального закона от 27.07.2006 N 152-ФЗ »О персональных данных», включая сбор, запись,
                        систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение,
                        использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование,
                        удаление, уничтожение персональных данных, сообщенных Пользователем Компании Такеда, а именно:
                        фамилия, имя, отчество, город проживания, наименование организации и адрес по месту работы,
                        номера рабочего и мобильных телефонов, адрес электронной почты, информацию о профессиональной
                        деятельности, в целях получения информации научного и/или образовательного характера, связанной
                        с повышением профессионального уровня Пользователя, включая информацию, имеющую отношение к
                        фармацевтической продукции и информацию о мероприятиях научно-образовательного характера, для
                        целей регистрации на информационных порталах Компании в сети Интернет, а также в целях учета и
                        ретроспективного анализа Компанией Такеда деятельности по повышению профессионального уровня
                        Пользователя и предоставлению Пользователю информации, в том числе предоставление Пользователю
                        информации посредством электронной почты, телефонной связи, СМС сообщений и/или любым иным
                        соответствующим способом. </p>
                    <p class="private-text_p"> Пользователь предоставляет Компании Такеда право осуществлять передачу
                        своих персональных данных третьим лицам, в том числе компании Salesforce.com EMEA Limited
                        (Англия), включая трансграничную передачу персональных данных, в целях, указанных выше, с
                        использованием машинных носителей или по каналам связи, с соблюдением мер, обеспечивающих их
                        защиту от несанкционированного доступа, при условии, что компания, осуществляющая прием и
                        обработку персональных данных Пользователя, обязуется соблюдать конфиденциальность полученных
                        ею сведений. </p>
                    <p class="private-text_p"> Пользователь оставляет за собой право отозвать свое согласие посредством
                        составления соответствующего письменного документа, который может быть направлен Пользователем
                        в адрес Компании Такеда по почте заказным письмом с уведомлением о вручении либо вручен лично
                        под расписку представителю Компании Такеда. </p>
                    <p class="private-text_p"> В случае получения письменного заявления Пользователя об отзыве
                        настоящего согласия на обработку персональных данных Компания Такеда обязана прекратить их
                        обработку. </p>
                    <p class="private-text_p"> 3.2. При использовании Сайта Администрация осуществляет сбор и обработку
                        информации Пользователя, а именно:</p>
                    <div class="block-text-private-summenu">
                        <p class="private-text_p">3.2.1. информации, предоставляемой Пользователем в процессе
                            регистрации;
                        </p>
                        <p class="private-text_p">3.2.2. информации, предоставляемой Пользователем в личном кабинете;
                        </p>
                        <p class="private-text_p">3.2.3. файлов coоkie;
                        </p>
                        <p class="private-text_p">3.2.4. IP-адресов;
                        </p>
                        <p class="private-text_p">3.2.5. параметров и настроек интернет-браузеров.</p>
                    </div>
                    <p class="private-text_p"> 3.3. Администрация осуществляет обработку информации Пользователя любыми
                        способами с целью надлежащего предоставления Пользователю услуг (идентификация, аутентификация,
                        передача информационных материалов по подписке пользователя, ответы на запросы и письма
                        пользователя, а также другие действия, время от времени необходимые для надлежащего
                        предоставления услуг).
                    </p>
                    <p class="private-text_p">3.4. Администрация использует обезличенные данные для таргетинга
                        рекламных и/или информационных материалов по возрасту, полу, другим признакам для проведения
                        статистических исследований; для любых других целей. </p>
                    <p class="private-text_p">3.5. Администрация имеет право передать информацию Пользователя полностью
                        или частично третьим лицам без уведомления об этом Пользователя в следующих случаях: лицам, в
                        ведение, владение или собственность которых передан Сайт; лицам, являющимся
                        связанными/аффилированными с Администрацией; новому владельцу Сайта для обработки в целях,
                        предусмотренных настоящим Соглашением; другим Пользователям Сайта, если в рамках Сайта
                        предусмотрен соответствующий функционал. </p>
                    <p class="private-text_p">3.6. При использовании Пользователями на страницах Сайта могут
                        присутствовать коды интернет-ресурсов третьих лиц, в результате чего такие третьи лица получают
                        данные, указанные выше. Такими интернет-ресурсами третьих лиц среди прочего являются:</p>
                    <div class="block-text-private-summenu">
                        <p class="private-text_p">3.6.1. системы по сбору статистики посещений (например, счетчики
                            bigmir. net, Google Analytics и т. д.);</p>
                        <p class="private-text_p">3.6.2. социальные плагины (блоки) социальных сетей (например,
                            Facebook и т. п.);</p>
                        <p class="private-text_p">3.6.3. системы баннер-показов (например, AdRiver т. п.);
                        </p>
                        <p class="private-text_p">3.6.4. другие ресурсы.

                        </p>
                    </div>
                    <p class="private-text_p">3.7. Пользователь имеет все права по защите его персональной информации,
                        предусмотренные действующим законодательством Российской Федерации, в частности Федеральным
                        законом «О персональных данных».
                    </p>
                    <p class="private-text_p">3.8. Обработка персональной информации осуществляется в дата-центрах, где
                        размещается оборудование, обеспечивающее функционирование Сайта. Администрация принимает все
                        предусмотренные законодательством меры для защиты персональной информации Пользователя, в
                        частности, обработка данных осуществляется на оборудовании, содержащемся в охраняемых
                        помещениях с ограниченным доступом.
                    </p>

                    <p class="private-text_p">3.9. Раскрытие предоставленной Пользователем информации может быть
                        произведено лишь в соответствии с действующим законодательством по требованию суда,
                        правоохранительных органов, в иных предусмотренных законодательством случаях.
                    </p>
                    <p class="private-text_p">3.10. Пользователь соглашается с тем, что Администрация под свою
                        ответственность вправе поручить обработку персональных данных любому третьему лицу по своему
                        усмотрению при условии соблюдения требований ст. 6 ФЗ «О персональных данных», в том числе
                        осуществления таким лицом конфиденциальности и защиты персональных данных. При этом согласие на
                        обработку персональных данных и иные вышеуказанные действия предоставляется Пользователем без
                        ограничения срока его действия.
                    </p>
                    <p class="private-text_p">3.11. Пользователь также соглашается с получением рекламы и информации от
                        Администрации по сетям электросвязи, в том числе через Интернет и СМС-сообщения в соответствии
                        со ст. 18 Ф3 «О рекламе» от 13.03.2006 г.</p>

                    <h5 class="private-text_span">4. Интеллектуальные права и ответственность </h5>
                    <p class="private-text_p">4.1. Пользователь не вправе воспроизводить, повторять и копировать,
                        продавать и перепродавать, а также использовать для каких-либо коммерческих целей какие-либо
                        части Сайта (включая информацию, доступную Пользователю посредством Сайта) или доступ к ним,
                        кроме тех случаев, когда Пользователь получил такое разрешение от Администрации, либо когда это
                        прямо предусмотрено Соглашением.
                    </p>
                    <p class="private-text_p">4.2. Все объекты, доступные при помощи Сайта, в том числе элементы
                        дизайна, текст, графические изображения, иллюстрации, видео, программы для ЭВМ, базы данных,
                        музыка, звуки и другие объекты, размещенный в рамках Сайта, являются объектами исключительных
                        прав Администрации, Пользователей и других правообладателей.
                    </p>
                    <p class="private-text_p">4.3. Использование Сайта возможно только в рамках предлагаемого
                        Администрацией функционала. Никакие элементы Сайта, а также любая информация, размещенная в
                        рамках Сайта, не могут быть использованы иным образом без предварительного разрешения
                        правообладателя. Под использованием подразумеваются, в том числе: воспроизведение, копирование,
                        переработка, распространение на любой основе, отображение во фрейме и т. д. Исключение
                        составляют случаи, прямо предусмотренные законодательством Российской Федерации или
                        Соглашением.
                    </p>
                    <p class="private-text_p">4.4. Использование Пользователем Сайта, а также любых данных и информации
                        контента для личного некоммерческого использования допускается при условии сохранения всех
                        знаков охраны авторского права, смежных прав, товарных знаков, других уведомлений об авторстве,
                        сохранения имени (или псевдонима) автора/наименования правообладателя вне изменном виде,
                        сохранении соответствующего объекта в неизменном виде. Исключение составляют случаи, прямо
                        предусмотренные законодательством Российской Федерации или Соглашением.
                    </p>
                    <p class="private-text_p">4.5. Сайт может содержать ссылки на другие сайты в сети Интернет (сайты
                        третьих лиц). Указанные третьи лица и их контент не проверяются Администрацией на соответствие
                        тем или иным требованиям(достоверности, полноты, законности и т. п.). Администрация не несет
                        ответственности за любую информацию, материалы, размещенные на сайтах третьих лиц, к которым
                        Пользователь получает доступ в связи с использованием Сайта, а также за доступность таких
                        сайтов или информации и последствия их использования Пользователем. </p>
                    <p class="private-text_p">4.6. Ссылка (в любой форме) на любой сайт, продукт, услугу, любую
                        информацию коммерческого или некоммерческого характера, размещенная в рамках Сайта, не является
                        одобрением или рекомендацией данных продуктов (услуг, деятельности) со стороны Администрации,
                        за исключением случаев, когда на это прямо </p>
                    <p class="private-text_p">4.7. Если иное не предусмотрено Администрацией дополнительно: </p>
                    <div class="block-text-private-summenu">
                        <p class="private-text_p">4.7.1. Пользователь использует Сайт на свой собственный риск.
                            Инструменты, службы и функциональные возможности Сайта предоставляются «как есть».
                            Администрация не принимает на себя никакой ответственности, в том числе за соответствие
                            Сайта целям Пользователя;
                        </p>
                        <p class="private-text_p">4.7.2. Администрация не гарантирует, что: Сайт соответствует/будет
                            соответствовать требованиям Пользователя; будет работать непрерывно, быстро, надежно и без
                            ошибок; результаты, которые могут быть получены с использованием Сайта, будут точными и
                            надежными и могут использоваться для каких-либо целей или в каком-либо качестве(например,
                            для установления и/или подтверждения каких-либо фактов); качество какого-либо продукта,
                            услуги, информации и пр., полученных с использованием Сайта, будет соответствовать
                            ожиданиям Пользователя;
                        </p>
                        <p class="private-text_p">4.7.3. Любую информацию и/или материалы (в том числе загружаемое ПО,
                            письма, какие-либо инструкции и руководства к действию и т. д.), доступ к которым
                            Пользователь получает с использованием Сайта, Пользователь может использовать на свой
                            собственный страх и риск и самостоятельно несет ответственность за возможные последствия
                            использования указанной информации и/или материалов, в том числе за ущерб, который это
                            может причинить компьютеру Пользователя или третьим лицам, за потерю данных или любой
                            другой вред.
                        </p>
                        <p class="private-text_p">4.7.4. Администрация не несет ответственности за любые виды убытков,
                            произошедшие вследствие использования Пользователем Сайта; </p>
                        <p class="private-text_p">4.7.5. При любых обстоятельствах ответственность Администрации в
                            соответствии со статьей 15 Гражданского кодекса Российской Федерации ограничена 10 000
                            (десятью тысячами) рублей Российской Федерации и возлагается на Администрацию при наличии в
                            ее действиях вины. </p>
                    </div>
                    <p class="private-text_p">4.8. Если какое-то лицо зарегистрировалось в качестве Пользователя от
                        имени уполномочившей его на то компании, это означает, что компания принимает соглашение и
                        обязуется защищать Администрацию, ее дочерние структуры, руководство, агентов и сотрудников от
                        любых судебных исков, процессов и разбирательств, связанных с использованием Сайта или
                        нарушением Пользователем Соглашения, а также от любой ответственности, в том числе финансовой,
                        в отношении исков, ущерба, повреждения, процессов, разбирательств, судебных издержек и
                        гонораров адвокатов.
                    </p>

                    <h5 class="private-text_span">5. Заключительные положения
                    </h5>
                    <p class="private-text_p">5.1. Настоящее Соглашение регулируется и толкуется в соответствии с
                        законодательством Российской Федерации. Вопросы, не урегулированные настоящим Соглашением,
                        подлежат разрешению в соответствии с законодательством Российской Федерации. Все возможные
                        споры, вытекающие из отношений, регулируемых настоящим Соглашением, разрешаются в порядке,
                        установленном действующим законодательством Российской Федерации, по нормам российского права.
                        Везде по тексту настоящего Соглашения, если явно не указано иное, под термином
                        «законодательство» понимается законодательство Российской Федерации.
                    </p>
                    <p class="private-text_p">5.2. Если по тем или иным причинам одно или несколько положений
                        настоящего Соглашения будут признаны недействительными или не имеющими юридической силы, это не
                        оказывает влияния на действительность или применимость остальных положений Соглашения.
                    </p>
                    <p class="private-text_p">5.3. Бездействие со стороны Администрации в случае нарушения
                        Пользователем либо иными пользователями положений Соглашений не лишает Администрации права
                        предпринять соответствующие действия в защиту своих интересов позднее, а также не означает
                        отказа Администрации от своих прав в случае совершения в последующем подобных либо сходных
                        нарушений.
                    </p>
                    <p class="private-text_p">5.4. Настоящее Соглашение составлено на русском языке и в некоторых
                        случаях может быть предоставлено Пользователю для ознакомления на другом языке. В случае
                        расхождения русскоязычной версии Соглашения и версии Соглашения на ином языке применяются
                        положения русскоязычной версии настоящего Соглашения. </p>
                    <p class="private-text_p">5.5. Ничто в Соглашении не может пониматься как установление между
                        Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по
                        совместной деятельности, отношений личного найма либо каких-то иных отношений, прямо не
                        предусмотренных Соглашением. </p>
                    <div class="container private-block-bottom">
                        <div class="row">
                            <div class="col-sm-7 col-xs-7">
                                    <h5 class="private-text_span">6. Реквизиты Администрации:</h5>
                                    <p class="private-text_p">Наименование: ООО «Такеда Фармасьютикалс». Адрес:Наименование: ООО «Такеда Фармасьютикалс».Адрес: 119048, г.  Москва, ул. Усачева, 2, стр. 1.
                                        </p>
                                    <p class="private-text_p">ИНН 7711067140
                                        </p>
                                    <p class="private-text_p">КПП 770401001</p>

                                   <a href=""><div class="private-button-back">ВЕРНУТЬСЯ</div></a> 
                            </div>
                            <!--
                            <div class="col-xs-7 col-md-3 col-xs-offset-1 ">
                                <div class="private-bottom-right_img">
                                    <img src="../dest/img/private-bottom.png" alt="">
                                </div>
                                </div>
                            -->
                            <div class="col-xs-7 col-xs-offset-1 private-bottom-right_img">
                                    <img src="../dest/img/private-bottom.png" alt="">
                                </div>
                        </div>
                    </div>
                   
            </div>
          
        </div>
    </div>
    <div class="wrapper">
    <div class="block-footer ">
            <div class="container">
                <div class="row">
                        <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-9 col-xs-5">
                                    <div class="block-footer__logo"><img src="../dest/img/logo-takeda-svg-copy.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs">
                                    <div class="block-footer__phone">8&nbsp;800&nbsp;700 33&nbsp;11</div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 col-md-offset-2">
                                    <div class="block-footer__takeda"><img src="../dest/img/18_footer.png" alt=""></div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                        <div class="firstmed-icon-privat"><img src="../dest/img/firstmed.png" alt=""></div>
                                    </div>
                                
                                <div class="col-xs-11">
                                    <div class="block-footer__des">
                                        ©&nbsp;  Кардиология 2018. ВСЕ ПРАВА ЗАЩИЩЕНЫ. <br><br>
                                        Владельцем сайта является ООО «Такеда Фармасьютикалс». Адрес: 119048 Москва, ул. Усачёва, д. 2, стр. 1, бизнес-центр «Фьюжн Парк». Заявление о нарушении авторских и смежных прав может быть отправлено по адресу info@myvrachi.ru, а также в форме Обратной связи.
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
            </div>
        </div>
    <script src="../dest/js/main.min.js"></script>
</body>

</html>