$primary-color: #ffffff;
$purple-color: #da0f7a;
$lightgreen-color: #189d9f;
$deepblue-color: #252761;
$darkgreen-color: #008188;
$pink-color: #db3e37;
$aqua-color: #69afe1;
$deepaqua-color: #428ac8;
$middleaqua-color: #438ac9;
$dark-color: #4a4a4a;
$lightgray-color: #d8d8d8;
$darkgray-color: #9b9b9b;