.private-inform {
    margin: 35px;
    margin-bottom: 60px;
    font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #252761;
}

.padding_private_logo {
    padding-top: 52px;
    padding-left: 56px;
}
.block-top-private__logo {
    width: 260px;
  height: 57px;
}
.private-top-right_img {
    width: 241px;
  height: 343px;
  position: absolute;
  right: 0;
}

.private-bottom-right_img {
    position: absolute;
    right: 109px;
    width: 39%;
    height: auto;
}
.private-text-wrapper {
    margin: 0 auto;
    max-width: 970px;
    margin-top: 80px;
}
.private-button-back {
    width: 270px;
  height: 70px;
  border-radius: 4px;
  background-color: #da0f7a;
  line-height: 70px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.private-button-back:hover {
    background-color: #da0f7ab8;
}
.main-private_h1 {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #252761;
}

  .private-text_p  {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.1px;
    color: #252761;
    padding-bottom: 20px;
}

.block-text-private {
    font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.1px;
  color: #252761;
  margin-top:  80px;
}

.block-text-private .private-text_span {
    font-weight: bold;
    padding-bottom: 30px;
}
.block-text-private-summenu {
    font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.1px;
  color: #252761;
  margin: 0 auto;
  max-width: 930px;
}

.private-block-bottom {
    padding-bottom: 50px;
    position: relative;
}